:root{
    --blanco: white;
    --claro: #e9ecef;
    --gris__claro: #8d99aedd;
    --negro: black;
    --negro__transparente: rgba(0, 0, 0, 0.521);
    --gris__oscuro: #343a40;
    --naranja-medio: #ee964b;
    --naranja-fuerte: #ca6702;
    --naranja-fuerte-transparente: #ca660281;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    box-sizing: border-box;
    transition: all .6s;
    list-style: none;
}
button{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
html{
    font-size: 20px;
    /* scroll-behavior: smooth; */
    background: url("./img/fondo_claro.webp");
    color: var(--texto);
    background-attachment: fixed;
}
body{
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.seccion__izquierda{
    width: 68%;
}
.seccion__derecha{
    width: 29%;
}

/*banner*/

.banner{
    width: 100%;
}
.banner__conjunto{
    width: 100%;
    display: grid;
    grid-template-areas: "peru1 unmsm fisi";
    position: relative;
}
.banner__peru{
    grid-area: peru1;
}
.banner__unmsm{
    grid-area: unmsm;
}
.banner__fisi{
    grid-area: fisi;
}
.banner__fisi > img,.banner__peru > img,.banner__unmsm > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.banner__texto{
    position: absolute;
    top: calc(50% - 2rem);
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--negro__transparente);
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--blanco);
    font-weight: bold;
}

/*tabla*/

.contenedor__tabla{
    margin-top: 2rem;
    overflow-y: auto;
    box-shadow: 6px 4px 8px var(--gris__claro);
}
.tabla{
    /* margin-top: 2rem; */
    background-color: var(--claro);
    border-collapse: separate;
    border-spacing:  0px;
    color: var(--gris__oscuro);
    width: 100%;
    min-width: 650px;
}
th,td{
    padding: 0 1rem;
    border-left: var(--gris__claro) 1px solid;
    border-right: var(--gris__claro) 1px solid;
    border-top: var(--gris__claro) 2px solid;
}
th{
    text-align: center;
    background-color: var(--naranja-fuerte);
}
.tabla__semana{
    max-width: 120px;
    font-size: .7rem;
}
.tabla__tema{
    padding-top: .5rem;
    padding-bottom: .5rem;
    max-width: 450px;
}
.tabla__tema > h2{
    font-size: 1rem;
    margin-bottom: .5rem;
}
.tabla__tema > p{
    font-size: .7rem;
}
.tabla__clase{
    font-size: .8rem;
    max-width: 120px;
}
.tabla__trabajo{
    max-width: 300px;
    min-width: 150px;
}
.trabajo__elementos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tabla__logo{
    width: 60px;
    height: 50px;
}
.tabla__trabajo .tabla__logo{
    width: 50px;
    margin-bottom: 5px;
}
.tabla__trabajo span{
    font-size: .8rem;
}
.clase__elemento{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem .5rem;
    text-align: center;
}
.cabezal{
    font-size: .6rem;
    text-transform: uppercase;
    color: var(--blanco);
}

/*informacion*/

.informacion{
    margin-top: 2rem;
    padding: 0 1rem 2rem;
    color: var(--gris__oscuro);
    background-color: var(--claro);
    box-shadow: 6px 4px 8px var(--gris__claro);
}
.tabla__informacion{
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}
.tabla__informacion td{
    border: none;
}
.informacion__titulo{
    padding-top: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
.informacion__subtitulo{
    font-size: 1rem;
}
.informacion__texto{
    font-size: .8rem;
}
.informacion__lista > li{
    font-size: .8rem;
    font-weight: bold;
    color: var(--gris__claro);
    padding-left: 1rem;
    margin-top: .2rem;
}
.informacion__lista > li::before{
    color: var(--gris__oscuro);
    font-weight: bold;
    font-size: 1rem;
    padding-right: .5rem;
    content: "»";
}

/*articulos integrantes*/
.article{
    background-color: var(--claro);
    padding: 3rem 1rem 1rem;
    margin-top: 2rem;
    position: relative;
    box-shadow: 6px 4px 8px var(--gris__claro);
}
.article2{
    background-color: var(--claro);
    padding: 3rem 1rem 1rem;
    margin-top: 2rem;
    position: relative;
}
.superior{
    height: 2rem;
    width: 100%;
    background-color: var(--naranja-fuerte);
    position: absolute;
    left: 0;
    top: 0;
    color: var(--blanco);
    padding-top: .5rem;
}
.superior2{
    height: 2rem;
    background-color: var(--naranja-fuerte);
    position: absolute;
    left: -1rem;
    right: -1rem;
    top: 0;
    color: var(--blanco);
    padding-top: .5rem;
    padding-left: 2rem;
}
.article__titulo{
    text-transform: uppercase;
    font-size: 1rem;
    padding-bottom: .8rem;
}
.article__subtitulo{
    padding-bottom: .4rem;
    padding-left: .5rem;
    text-transform: capitalize;
    font-size: 1rem;
}
.article__parrafo{
    padding-bottom: .4rem;
    padding-left: .5rem;
    font-size: .8rem;
}
.article__descarga{
    width: 100px;
    padding-left: .5rem;
}
.article__flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 .3rem;
}
.article__flex > div{
    border-left: var(--gris__oscuro) 1px solid;
    margin-left: .5rem;
    padding-left: .5rem;
}
.article__integrantes{
    margin-left: 2rem;
    text-transform: capitalize;
    font-size: .8rem;
    padding-top: .3rem;
}
.article__integrantes::before{
    color: var(--gris__oscuro);
    font-weight: bold;
    font-size: 1rem;
    content: "»";
    position: absolute;
    transform: translate(-1rem);

}
.article__imagen{
    max-width: 250px;
    /*width: 100%;*/
    margin: auto;
    padding: 0 1rem;
}
.enlace__grupos{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.article__grupos{
    padding: .5rem 1rem;
    border: var(--naranja-medio) 2px solid;
    background: var(--naranja-medio);
    border-radius: 10px;
    cursor: pointer;
}
.article__grupos:hover{
    background-color: var(--blanco);
}
.article__grupos:hover > a{
    color: var(--naranja-medio);
}
.article__grupos > a{
    color: var(--blanco);
    font-weight: bold;
}

.desplegar__informacion{
    color: var(--blanco);
    font-size: .9rem;
    font-weight: bold;
    text-transform: capitalize;
    display: none;
    margin: 0 auto;
}
.desplegar__informacion:hover{
    color: var(--naranja-medio);
}


.footer{
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    width: 100%;
    background-color: var(--gris__oscuro);
    box-shadow: 6px 4px 8px var(--gris__claro);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.footer > span{
    width: 100%;
    text-align: center;
    color: var(--blanco);
    font-size: .8rem;
}
.linkedin{
    width: 100%;
}
.linkedin div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.linkedin a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    font-size: .8rem;
    margin: 1rem 2rem;
}
.linkedin i{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

/*estilos a la barra de navegación*/
body::-webkit-scrollbar {
    width: .8rem;            
}
body::-webkit-scrollbar-track {
    background: var(--naranja-fuerte-transparente);    
}
body::-webkit-scrollbar-thumb {
    background-color: var(--naranja-fuerte-transparente);   
    border-radius: 1rem;      
    border: 4px solid white;  
}



/*Websocket html*/
.ctnd-btn-regresar{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.btn-regresar {
    background-color: var(--naranja-fuerte);
    font-size: 1.2rem;
    color: var(--blanco);
    padding: .2rem .6rem;
    border-radius: .3rem;
}
.ctnd-datos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    color: var(--blanco);
    width: 100%;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    font-weight: bold;
    height: 30px;
    background-color: var(--naranja-fuerte);
}
.valor{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    width: auto;
    grid-row: 2;
    height: 100px; /* Ajusta la altura según tus necesidades */
    background-color: var(--naranja-fuerte); /* Puedes personalizar el color de fondo según tu preferencia */
}
.datos-v-hora{
    font-size: 1.2rem;
}










/*responsive design*/
@media (max-width: 1050px) {
    html{
        font-size: 18px;
    }
}


@media (max-width: 950px) {
    .article__imagen{
        padding: 0;
    }
    .seccion__izquierda{
        width: 100%;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .seccion__derecha{
        width: 100%;
    }
    .desplegar__informacion{
        display: block;
    }
    .sumilla,.competencia__general{
        display: none;
    }
}

@media (max-width: 700px) {
    .informacion__general{
        padding: 3rem 0rem 1rem;
    }
    body{
        margin: 0;
    }
    .banner__conjunto{
        grid-template-areas: "peru1 fisi"
        "unmsm unmsm";
        gap: 10px;
    }
    .banner__fisi > img,.banner__peru > img,.banner__unmsm > img{
        height: 200px;
    }
}









